<div class="projects-container">
  <div class="projects-header">
    <h1>{{ getTranslation('nav.projects') }}</h1>
    <p>
      {{ getTranslation('projects.description') }}
    </p>
  </div>

  <div class="projects-flex">
    <a *ngFor="let project of projects" [href]="project.link" target="_blank" class="project-link">
      <mat-card class="project-card">
        <img mat-card-image [src]="project.image" [alt]="getProjectTitle(project)" appSkeletonLoader />
        <mat-card-content>
          <h2>{{ getProjectTitle(project) }}</h2>
          <p>{{ getProjectDescription(project) }}</p>

          <div class="tags">
            <span *ngFor="let techName of project.technologies" class="tag" [ngStyle]="{
                color: getTechDetails(techName)?.color,
                'background-color': getTechDetails(techName)?.backgroundColor
              }">
              <i [class]="getTechDetails(techName)?.iconClass"></i>
              {{ techName }}
            </span>
          </div>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>