<div class="about-me fade-in-bottom">
  <div class="about-me-grid">
    <div class="about-me-content">
      <h2 class="about-me-heading">{{ getTranslation('about.title') }}</h2>
      
      <p class="about-me-text" [innerHTML]="getTranslation('about.paragraph1')"></p>
      <p class="about-me-text" [innerHTML]="getTranslation('about.paragraph2')"></p>
      <p class="about-me-text" [innerHTML]="getTranslation('about.paragraph3')"></p>
    </div>

    <div class="about-me-image">
      <div class="about-me-image-container">
        <img class="about-me-image-background" src="https://svgsilh.com/svg/36402.svg" alt="background" />
        <img class="about-me-image-main" src="/assets/about-me.jpg" alt="Mohamed EL MOURABIT" />
      </div>
    </div>
  </div>
</div>
