* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .timeline-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  .timeline-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  /* Toggle Button Styles */
  .toggle-switch {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .toggle-switch button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #ddd;
    color: #333;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .toggle-switch button.active {
    background-color: #333;
    color: #fff;
  }
  
  .toggle-switch button:not(:last-child) {
    margin-right: 10px;
  }
  
  /* Timeline Styles */
  .timeline {
    position: relative;
    padding: 10px 0;
    // border-left: 2px solid #333;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    height: 100%;
    width: 2px;
    background-color: #333;
    transform: translateX(-50%);
  }
  
  .timeline-item {
    position: relative;
    width: 50%;
    padding: 10px 20px;
    margin: 10px 0;
  }
  
  .timeline-item.left {
    left: 0;
  }
  
  .timeline-item.right {
    left: 50%;
    text-align: right;
  }
  
  .timeline-item .content {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .timeline-item.left .content {
    margin-right: 20px;
  }
  
  .timeline-item.right .content {
    margin-left: 20px;
  }
  
  .timeline-item h3 {
    color: #333;
    font-weight: bold;
  }
  
  .timeline-item p {
    color: #666;
  }
  
  .timeline-item::before {
    content: '';
    position: absolute;
    top: 18px;
    left: calc(50% - 0px);
    height: 12px;
    width: 12px;
    background-color: #333;
    border-radius: 50%;
    transform: translateX(-50%);
  }
  
  .timeline-item.left::before {
    left: calc(100% );
  }
  
   .timeline-item.right::before {
      left: 0px;
   }
  