<div class="timeline-container">
    <h1 class="timeline-title">Career & Studies</h1>
    
    <!-- Toggle Button -->
    <div class="toggle-switch">
      <button (click)="showExperience = true" [class.active]="showExperience">Experience</button>
      <button (click)="showExperience = false" [class.active]="!showExperience">Education</button>
    </div>
  
    <!-- Timeline Section -->
    <div  *ngIf="showExperience">
      <app-experience></app-experience>

    </div>
  
    <div *ngIf="!showExperience">
      <app-education></app-education>
  </div>

  