<div class="keep-in-touch">
  <h1>{{ getTranslation('contact.title') }}</h1>
  <h2>{{ getTranslation('contact.subtitle') }}</h2>

  <div class="slide-fade">
    <div class="button-group">
      <a
        mat-button
        href="mailto:mohamed.elmoag@gmail.com?subject=Contact&body=Hello Mohamed,"
        class="btn"
      >
        <i class="fa-solid fa-envelope"></i>
        {{ getTranslation('contact.sendEmail') }}
      </a>
      <a
        mat-button
        href="https://www.linkedin.com/in/mohamed-el-mourabit-agharbi/"
        target="_blank"
        class="btn"
      >
        <i class="fab fa-linkedin"></i>
        {{ getTranslation('contact.linkedin') }}
      </a>
      <a
        mat-button
        href="assets/CV_English.pdf"
        download="Mohamed-EL-MOURABIT_CV.pdf"
        class="btn"
      >
        <i class="fa-solid fa-download"></i>
        {{ getTranslation('contact.downloadCV') }}
      </a>
    </div>
  </div>
</div>
