.page-container {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  gap: 2rem; /* add space between elements */
  margin: auto; /* add equal margin left and right */
}

  .header-content {
    position: fixed;
    background-color: black;
    border-bottom: #4c4c4e 1px solid;
    z-index: 2;
    width: 100%;
    max-width: 70rem;

  }
  
  
  .main-content {
    flex: 1; /* Takes up the remaining space between header and footer */
    margin: 0; /* Ensure no margin */
    padding: 0; /* Ensure no padding */
    margin-top: 10rem;
  }
  

  .footer {
 
    padding: 10px 0; /* This padding is fine, but make sure it’s intended */
    margin: 0; /* Remove margin */
  }