

<div class="projects-container ">
  <div class="projects-left">
    <h2>All Creative Works.</h2>
    <p>
      Here's some of my projects that I have worked on.
      <br><a class="explore-link" routerLink="/projects"><b>Explore more →</b></a>
    </p>
  </div>

  <div class="projects-left-right">
    <div
    *ngFor="let project of projects; let i = index"
    class="project-item"
    [class.right]="i % 2 === 0"
    [class.left]="i % 2 !== 0"
  >
      <a [href]="project.link" target="_blank" class="project-link">
        <mat-card class="project-card">
          <img mat-card-image [src]="project.image" alt="{{ project.title }}" />
          <mat-card-content>
            <h2>{{ project.title }}</h2>
            <div class="tags">
              <span
                *ngFor="let techName of project.technologies"
                class="tag"
                [ngStyle]="{
                  color: getTechDetails(techName)?.color,
                  'background-color': getTechDetails(techName)?.backgroundColor
                }"
              >
                <i [class]="getTechDetails(techName)?.iconClass"></i>
                {{ techName }}
              </span>
            </div>
            <p>{{ project.description }}</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>

