<div class="projects-container">
  <div class="projects-left">
    <h2>{{ getTranslation('projects.title') }}</h2>
    <p>
      {{ getTranslation('projects.description') }}
      <br>
      <!-- <a class="explore-link" routerLink="/projects"><b>{{ getTranslation('projects.explore') }}</b></a> -->
    </p>
  </div>

  <div class="projects-left-right">
    <div *ngFor="let project of projects; let i = index" class="project-item" [class.right]="i % 2 === 0"
      [class.left]="i % 2 !== 0">
      <a [href]="project.link" target="_blank" class="project-link">
        <mat-card class="project-card">
          <img mat-card-image [src]="project.image" [alt]="getProjectTitle(project)" appSkeletonLoader />
          <mat-card-content>
            <h2>{{ getProjectTitle(project) }}</h2>
            <div class="tags">
              <span *ngFor="let techName of project.technologies" class="tag" [ngStyle]="{
                  color: getTechDetails(techName)?.color,
                  'background-color': getTechDetails(techName)?.backgroundColor
                }">
                <i [class]="getTechDetails(techName)?.iconClass"></i>
                {{ techName }}
              </span>
            </div>
            <p>{{ getProjectDescription(project) }}</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>

  <div class="view-all-container">
    <a routerLink="/projects" class="view-all-btn">
      <span>{{ getTranslation('projects.explore') }}</span>
      <i class="fas fa-arrow-right"></i>
    </a>
  </div>
</div>