$card-bgcolor: #080808;

.explore-link {
  color: var(--highlight-color);
}

.header-div {
  text-align: left;
  height: 100%;
  width: 100%;
}

.project-link {
  text-decoration: none;
  color: inherit;
  padding: 3rem;
}

.mat-grid-tile-content {
  gap: 10rem;
  margin-bottom: 5rem;
}


.project-card {
  border-radius: 20px;
  max-width: 30rem;
  height: 25rem;
  background-color: $card-bgcolor;
  color: var(--color-primary);
  margin: 0 1rem;

  .btn {
    max-width: fit-content;
  }

  img {
    height: 16rem;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  gap: 1rem;
  margin-top: 8px;
}

.tag {
  background-color: #e0e0e0;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  color: var(--color-tertiary);
}


/* Media query for screens smaller than 600px */
@media (max-width: 1000px) {
  .project-link{
    max-width: 100%;
  }

  .project-card {
    max-width: 100%; /* Make the card take full width */
    height: auto; /* Allow the height to adjust based on content */
    margin-top: 5rem;
  }

  .project-card img {
    height: 12rem; /* Reduce the height of the image on small screens */
  }

  .card-content {
    padding: 0.5rem; /* Adjust padding for small screens */
  }

  .title {
    font-size: 1.2rem; /* Adjust font size for the title on small screens */
  }

  .description {
    font-size: 0.9rem; /* Adjust font size for the description on small screens */
  }

  .tags {
    gap: 0.5rem; /* Reduce gap between tags on small screens */
  }

  .tag {
    font-size: 10px; /* Adjust the font size for tags on small screens */
  }
}