
  
<mat-grid-list cols="6" rows="2:1" class="grid-list">
  <!-- Header Tile -->
  <mat-grid-tile [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows" >
    <div class="header-div" >
      <h2>All Creative Works.</h2>
      <p>
      Here's some of my projects that I have worked on.
      <br><a class="explore-link" routerLink="/projects"><b>Explore more →</b></a>
      </p>
    </div>
  </mat-grid-tile>

  <!-- Project Tiles -->
  <ng-container *ngFor="let project of projects">
    <mat-grid-tile [colspan]="tiles[1].cols" [rowspan]="tiles[1].rows" class="project-tile">
      <a [href]="project.link" target="_blank" class="project-link">
        <mat-card class="project-card">
          <img mat-card-image [src]="project.image" alt="{{ project.title }}" />
          <mat-card-content>
            <h2>{{ project.title }}</h2>
            <div class="tags">
              <span
                *ngFor="let techName of project.technologies"
                class="tag"
                [ngStyle]="{
                  color: getTechDetails(techName)?.color,
                  'background-color': getTechDetails(techName)?.backgroundColor
                }"
              >
                <i [class]="getTechDetails(techName)?.iconClass"></i>
                {{ techName }}
              </span>
            </div>
            <p>{{ project.description }}</p>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
