@import '../../../styles.scss';

.navbar {
  background-color: var(--navbar-bg);
  color: var(--display-color);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;

  .logo {
    // font-family: "Stalinist One", sans-serif;
    font-family: "Permanent Marker", cursive;

    font-size: 32px;
    // font-weight: bold;
    color: var(--display-color);
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .bracket {
    color: var(--logo-grey);
    font-weight: 600;
    transition: color 0.3s ease;
  }

  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--display-color);
    transition: color 0.3s ease;
  }
}

.drawer-container {
  position: relative;
  display: flex;

  width: 100%;
}

.drawer {
  background-color: var(--drawer-bg);
  color: var(--display-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.drawer-content a {
  font-size: 16px;
  color: var(--display-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

button {
  margin: 0 10px;
}

.flex-spacer {
  flex: 1;
}

mat-divider {
  color: $logo-grey;
  height: 1px;

}