<div class="intro-container">
    <div class="slide-fade">
      <div class="image-container">
        <img class="intro-image" src="https://svgsilh.com/svg/36402.svg" alt="Image">
        <p class="intro-text">Hey there!, I'm-</p>
        <h1 class="name">Mohamed</h1>
        <h1 class="name">El Mourabit.</h1>
      </div>


    </div>
  
    <div class="slide-fade">
        <h2 class="subheading">
          <span class="TypingEffect">{{ dynamicText}} </span> 
          <span>A self-taught developer with an interest in Computer Science.</span>
        </h2>
        <h2><span>A self-taught developer with an interest in Computer Science.</span></h2>
      </div>
      
  
    <div class="slide-fade">
      <p class="description">
        😊 I am a passionate learner in software development.
        <br>
        <span class="company-info">
          🚀 Working at <span class="company">Company XYZ</span>
        </span>
      </p>
    </div>
  
    <div class="slide-fade">
      <div class="button-group">
        <a  mat-button href="https://github.com/abdulrcs" target="_blank" class="btn">
          <!-- <button mat-button color ="primary" class="btn">
            <span class="icon-github"></span> Github
          </button> -->
          <i class="fab fa-github"></i>
          Github

        </a>
        <a  mat-button href="https://github.com/abdulrcs" target="_blank" class="btn">
            <!-- <button mat-button color ="primary" class="btn">
              <span class="icon-github"></span> Github
            </button> -->
            <i class="fab fa-linkedin"></i>
            linkedin
  
          </a>
          <a  mat-button href="https://github.com/abdulrcs" target="_blank" class="btn">
            <!-- <button mat-button color ="primary" class="btn">
              <span class="icon-github"></span> Github
            </button> -->
            <i class="fa-solid fa-download"></i>
            Download CV 

          </a>
      </div>
    </div>
  </div>
  