<div class="about-me">
    <div class="about-me-grid">
      <div class="about-me-content">
        <h2 class="about-me-heading">⚡ About Me</h2>
        <p class="about-me-text">
          Hey! I'm Abdul Rahman, I've been close to a computer since an
          early age, and been passionate about it ever since. <br />
          <br /> I really liked to build stuff using
          <span class="more-info" data-content="I used to make games without code using RPG Maker VX, and build a simple website with blogspot back in primary school.">no-code tools</span>
          back in 2010, and from that, I explored how to code myself,
          fast-forward to today, I do programming in various languages and
          technologies, and had the privilege to worked in a
          <span class="more-info" data-content="<img src='https://imagizer.imageshack.com/a/img923/541/alNCHs.png' alt='linkedin Qneksi' width='306' height='102' />">Recruitment Company</span>
          and a
          <span class="more-info" data-content="<img src='https://imagizer.imageshack.com/a/img922/6137/c0cugn.png' alt='linkedin Qasir' width='306' height='102' />">SaaS Company</span>
          I'm interested in building something awesome with code and
          automate tasks with code, currently focused on
          <span class="more-info" data-content="Building Web and Mobile Applications using Javascript Frameworks (React, React Native and Next.js)">Web & Mobile Development,</span>
          <span class="more-info" data-content="I really like the idea of contributing new features to open source projects that can be useful to other people.">Open Source</span>
          and
          <span class="more-info" data-content="Competitive Programming helped me to sharpen my Algorithms and Problem Solving skills.">Competitive Programming</span>
          <br />
          <br />
          When I'm not coding I play games with my friends, watch some show
          on Netflix, or if the weather's good, play basketball! 🏀
        </p>
      </div>
      <div class="about-me-image">
        <div class="about-me-image-container">
          <img class="about-me-image-background" src="https://svgsilh.com/svg/26432.svg" alt="background" />
          <img class="about-me-image-main" src="https://i.imgur.com/jk8NmSx.jpeg" alt="Abdul Rahman" />
        </div>
      </div>
    </div>
  </div>
  