:root {
    --background: #000000;
    --secondary: #080808;
    --display-color: #FFFFFF;
    --color-primary: #D1D5DB;
    --color-secondary: #8F9094;
    --color-tertiary: #333;
    --logo-grey: #8F9094;
    --button-color: #141414;
    --text-color: #333;
    --highlight-color: #6EACDA;
    --new-color: yellow;
    --card-bgcolor: #080808
  }
