
@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-dark-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.button-theme($my-theme);

/* Colors */
$background: #000000;
$secondary: #080808;
$display-color: #FFFFFF;
$text-primary: #D1D5DB;
$text-secondary: #8F9094;
$text-tertiary: #333;
$logo-grey: #8F9094;

$button-color: #141414;
$text-color: #333;
$highlight-color: #6EACDA;

h1 {
  color: var(--color-primary);
  font-size: 3.75rem;
  font-weight: 500;
  letter-spacing: -1.6px;
  white-space: pre-wrap;
}

h2 {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -1.6px;
  white-space: pre-wrap;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black; /* Set background to black */
  color: white; /* Optional: Set text color to white for contrast */
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  &:hover {
    color: $display-color;
  }
  &:active {
    color: var(--color-secondary);
  }
}


/* For screens smaller than 992px (Tablets) */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 3rem; /* Reduce font size for smaller screens */
  }

  h2 {
    font-size: 1.25rem; /* Adjust font size for subheading */
  }

  html, body {
    font-size: 16px; /* Adjust base font size */
  }

  a {
    font-size: 1.2rem; /* Increase font size slightly for readability */
  }

  /* Additional adjustments for layout */
  .intro-container {
    padding: 1rem;
  }
}

/* For screens smaller than 600px (Mobile) */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem; /* Further reduce font size for mobile screens */
  }

  h2 {
    font-size: 1.2rem; /* Adjust subheading for mobile screens */
  }

  html, body {
    font-size: 14px; /* Smaller font size for mobile */
  }

  a {
    font-size: 1rem; /* Adjust font size for mobile devices */
  }

  /* Adjust container padding for small screens */
  .intro-container {
    padding: 0.5rem;
  }

  /* Make buttons stack on small screens */
  .button-group {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}